
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --strong-blue: #162C94;
    --light-blue: #268AFA;
    --dark-color: #2E2E2E;
    --dark1-color: #594f4f;
    --light-orange: #FAAA20;
    --normal-color: #fff;
    --gray-color: #e7d8d8;
}
.hero-container{
    height: 100vh;
    background: rgb(94,153,244);
    background: linear-gradient(90deg, rgba(94,153,244,1) 0%, rgba(5,59,248,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-container{
    width: 100%;
    max-width: 100%;
    color: var(--normal-color);
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-around;
    padding: 2vh 0;
    border-bottom: 2px solid var(--strong-blue);
}
.logo-container{
    display: flex;
    align-items: center;
}

.bigAndsmall{
    display: grid;
    gap: 2em;
}

.bigAndsmall li{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 3vmin;
    font-weight: bolder; 
}
.big-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.small-nav{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    margin-right: 6rem;
}

/* about-container starts from here */
.about-container{
    /* width: 90%; */
    padding: 8vw;
    display: grid;
    grid-template-columns: 1fr 40%;
    align-items: center;
    justify-content: space-around;
    gap: 4em;
}
.about-text .title{
    color: var(--light-orange);
    font-size: 8vmin;
}
.about-text p{
    font-size: 1.5em;
    color: var(--normal-color);
    max-width: 500px;
    /* border: 1px solid red; */
}
.about-mirror{
    width: 100%;
    height: 22em;
    background: url(images/happiness1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 20vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, var(--normal-color) 0px -12px 30px, var(--gray-color) 0px 4px 6px, var(--normal-color) 0px 12px 13px, var(--light-orange) 0px -3px 5px;
}